@using PunchcodeStudios.Admin.Contracts
@using PunchcodeStudios.Admin.Models.Gallery
@page "/gallery-category/add"

<div class="col-md-8 p-5">
    <PCS_FormCard Heading="Category Admin"
                  Tagline="Add a gallery cateogry to the site"
                  ReturnText="return to gallery categories">
        <EditForm Model="@Model" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" style="max-width:500px;">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-goup">
                <label for="FirstName" class="form-label">Name</label>
                <InputText id="FirstName" class="form-control mb-3" @bind-Value="Model.Name" />
            </div>
            <div class="form-goup">
                <label class="form-label">Description</label>
                <InputTextArea class="form-control mb-3" @bind-Value="Model.Description" />
            </div>
            <div class="button-content d-flex justify-content-between">
                <div class="col-md-4"><button class="btn btn-danger form-control mb-3" @onclick="OnCancel">Clear Form</button></div>
                <div class="col-md-4"><button type="submit" class="btn btn-primary form-control mb-3" onclick="OnSubmit()">Submit</button></div>
            </div>
        </EditForm>
    </PCS_FormCard>
</div>



}
